[submodule "spdlog"]
	path = clove/components/utilities/log/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "glm"]
	path = clove/components/utilities/maths/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "reb"]
	path = clove/external/reb
	url = https://gitlab.com/digital-vessel/reb.git
