[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "spdlog"]
	path = clove/components/utilities/log/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "glm"]
	path = clove/components/utilities/maths/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "SPIRV-Headers"]
	path = clove/components/core/graphics/external/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "SPIRV-Cross"]
	path = clove/components/core/graphics/external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "SPIRV-Tools"]
	path = clove/components/core/graphics/external/SPIRV-Tools
	url = https://github.com/AGarlicMonkey/SPIRV-Tools.git
[submodule "glslang"]
	path = clove/components/core/graphics/external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "openal-soft"]
	path = clove/components/core/audio/external/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "assimp"]
	path = clove/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "bullet3"]
	path = clove/external/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "freetype2"]
	path = clove/external/freetype2
	url = https://git.savannah.gnu.org/git/freetype/freetype2.git
[submodule "libsndfile"]
	path = clove/external/libsndfile
	url = https://github.com/erikd/libsndfile.git
[submodule "shaderc"]
	path = clove/components/core/graphics/external/shaderc
	url = https://github.com/AGarlicMonkey/shaderc.git
[submodule "reb"]
	path = clove/external/reb
	url = https://gitlab.com/digital-vessel/reb.git
